body {
	text-align: center;
}
.player1, .player2 {
	display: inline-block;
	padding: 5rem;
}
.dice {
	height: 200px;
	width: 200px;
}
.red{
	background-color: red;
}
.green {
	background-color: green;
}
.blue {
	background-color: blue;
}